{{!< layout}}


{{#contentFor "body"}}
  {{#if user}}
    <h2>Hello, <%= user.email %>.</h2>
  {{else}}

  {{/if}}


<% if (!user) { %>
    <h2>Welcome! Please log in.</h2>
<% } else { %>
<% } %>
{{/contentFor}}kkkkkkkkk
